<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AtmecsWebsiteValidation">
	<suite-files>
		<suite-file
			path="./src\test\resources\suites\AtmecsWebsite_verifyFooter.xml" />
		<suite-file
			path="./src\test\resources\suites\AtmecsWebsite_ServicesMenu.xml" />
		<suite-file
			path="./src/test/resources/suites/AtmecsWebsite_InsightMenu.xml" />
	</suite-files>
</suite> <!-- AtmecsWebsiteValidation -->
